<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <script src='script.js'></script>
        <link rel="stylesheet" src="style.css">
    </head>
    <body onload="insertPostList()">
        <button type="button" class="btn btn-primary btn-warning " data-bs-toggle="modal" data-bs-target="#writeModal" data-bs-whatever="@mdo">글쓰기</button>
        <ul id='posts' class="list-group list-group-flush"></ul>
        
        
        <!--디테일 모달-->
        <div class="modal fade modal-dialog modal-dialog-scrollable" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">글 작성하기</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="deletePost()">삭제</button>
                    <button type="button" class="btn btn-primary  btn-warning" onclick="submitPost()">수정</button>
                </div>
              </div>
            </div>
          </div>

        <!--글쓰기 모달-->
        <div class="modal fade" id="writeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">글 작성하기</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="writeform">
                        <div class="mb-3">
                            제목
                            <input type="text" class="form-control input" id="input-title" name="title">
                        </div>
                        <div class="mb-3">
                            내용
                            <textarea class="form-control input" id="input-content" name="content"></textarea>
                        </div>
                        <div class="mb-3">
                            <select class="form-select" aria-label="Default select example" name="category">
                                <option selected>카테고리</option>
                                <option value=1>여행</option>
                                <option value=2>맛집</option>
                                <option value=3>영화</option>
                                <option value=4>카페</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <input type="file" name="image">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary  btn-warning" onclick="submitPost()">완료</button>
                </div>
              </div>
            </div>
          </div>
    </body>
</html>